@charset "UTF-8";
/* CSS Document */

html {
  box-sizing: border-box;
  background-color: #EEF0EB;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: "Moriston Personal Regular";
	font-size: 12;
}

h1 {
	font-family: Governor;
	text-align: center;
	font-size: 18;
}

.my-image {
	color: whitesmoke;
	font-size: 55px;
	height: 10vh;
	text-align: center;
	display: block;
	background: url("Image Assets/footer-background.jpeg")
}

footer {
	padding: 5rem;
}

nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img { 
	max-width: 30%;
	min-width: 10rem;
	margin-top: .5rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hyperlinks {
	padding: 2rem;
	text-align: center;
}

p {
	text-align: center;
	padding: 1rem;
	margin-left: 12rem;
	margin-right: 12rem;
}
